@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700;900&display=swap');
:root{
    --main-color:#ffc527;
}
body{
    direction: rtl;
    text-align: right;
    font-family: "tajawal" , 'sans-serif';
}
/* start general */
.section{
    padding: 80px 0;
}
.section-title{
    position: relative;
    display: inline-block;
}
.section-title::after{
    content: "";
    width: 80%;
    height: 5px;
    background-color:var(--main-color) ;
    position: absolute;
    bottom: -7px;
    right: 0;
}
/* End general general */
.navbar{
    box-shadow: 1px 2px 5px #ebebeb;
}
.setion-home{
    background-color: gray;
    background-image: url(../imgs/slide-bg-1.jpg);
    height: 420px;
    background-size: cover;
    padding: 1px;
}
.home-item{
    margin-top: 10%;
    margin-right: auto;
    width: 50%;

}
@media(max-width:768px){
    .setion-home{
        height: 350px;

    }
    .home-item{
        width: 100%;
    }
    
}
.home-item h1{
    color: white;
    font-size: 45px;
}
.home-item p{
    color: white;
    font-size: 20px;
}
 /* start news */
 .part{
     display: flex;
     margin-bottom: 2px;
 }
 /* End news */
 /*start subscribe */
 .subscribe {
     height: 450px;
     background-image: url(../imgs/subscribe-our-newsletter-bg.jpg);
     background-size: cover;
     padding: 1px;
     position: relative;
   
 }
 .subscribe-item {
width: 50%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
color: #fff;

}
.subscribe-item  h2{
font-size: 40px;
}
.subscribe-item .form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.subscribe-item .form input{
    width: 80%;
}
.subscribe-item button{
    width: 15%;
}

 /* End subscribe */

 /* start footer */
 footer{
    background-color: #071c33;
    color: #fff;
    min-height: 300px;
 }
 .footer-left p{
     font-size: 12px;
     margin-right: 10px;
     
 }
 .footer-left{
     display: flex;
 }
 /* end footer */